@import url(https://fonts.googleapis.com/css?family=Raleway);

$primary-color: #FF7E00;
$second-color: #E8950C;
$third-color: #E8580C;
$font-color: #DEDECF;
$shadow-color: #222222;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url('https://www.dropbox.com/s/of9vajj6x724km8/dusty-sky.png?dl=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 1.6em;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}

.fancy {
  color: $primary-color;
  text-decoration: underline;
  -moz-text-decoration-color: $primary-color;
  text-decoration-color: $primary-color;
}

.header {
  text-align: center;
  border: 1px solid $primary-color;
}

.main {
  padding: .75em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  
  color: $font-color;
  background-color: rgba($primary-color, .15);
  
  width: 30%;
  border: 2px solid $primary-color;
  border-radius: 1em;
  font-family: 'Georgia', sans-serif;
}

div p {
  font-size: 1.2em
}

.list {
  margin-top: .25em;
  padding: .25em;
  border: 1px dotted $third-color;
  color: $primary-color;
  text-shadow: 3px 2px 1px $shadow-color;
}

.product {
  margin-top: .5em;
  padding: .25em;
  border: 1px dashed $second-color;
  color: $primary-color;
  text-shadow: 3px 2px 1px $shadow-color;
}

.color-five {
  color: $font-color;
}

.obj-title {
  font-size: 1.25em;
  text-decoration: underline;
  color: $font-color;
}