@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("https://www.dropbox.com/s/of9vajj6x724km8/dusty-sky.png?dl=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 1.6em;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
}

.fancy {
  color: #FF7E00;
  text-decoration: underline;
  -moz-text-decoration-color: #FF7E00;
  text-decoration-color: #FF7E00;
}

.header {
  text-align: center;
  border: 2px solid #E8580C;
}

.main {
  padding: .75em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #DEDECF;
  background-color: rgba(255, 126, 0, 0.15);
  width: 30%;
  border: 2px solid #FF7E00;
  border-radius: 1em;
  font-family: 'Georgia', sans-serif;
}

.list {
  margin-top: .25em;
  padding: .25em;
  border: 1px dotted #E8580C;
  text-shadow: 3px 2px 1px #222222;
}

.product {
  margin: 1em 0em;
  padding: .25em;
  border: 2px solid #E8950C;
  text-shadow: 3px 2px 1px #222222;
}

.color-primary {
  color: #FF7E00 !important;
}

.font-color {
  color: #DEDECF;
}

.obj-title {
  font-size: 1.25em;
  text-decoration: underline;
  color: #DEDECF;
}
