@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
body {
  margin: 0;
  padding: auto;
  background: #eddb8b;
  background: -moz-linear-gradient(top, #eddb8b 0%, #ede097 53%, #b7b56c 100%);
  background: -webkit-linear-gradient(top, #eddb8b 0%, #ede097 53%, #b7b56c 100%);
  background: linear-gradient(to bottom, #eddb8b 0%, #ede097 53%, #b7b56c 100%);
  background-size: auto 100%;
  font-size: .95em;
}

a:hover:not(.active) {
  background-color: #F0F8FF;
}

h1 {
  font-family: "Fugaz One", sans-serif;
  text-align: center;
}

h2 {
  margin: 0em .25em .5em .25em;
  padding: .25em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-shadow: 1px 2px 1px #FF8EAD;
  background: #FF8EAD;
  border-radius: .66em;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

p {
  text-align: left;
  padding: .25em !important;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: .2em;
  overflow: hidden;
  border-top: 3px solid #F0F8FF;
  border-bottom: 3px solid #F0F8FF;
  font-family: "Fugaz One", sans-serif;
  background-color: #F2F0E6;
}

.borderM {
  border: 3px solid #B27B49 !important;
}

.borderB {
  border-top: 3px solid #B27B49 !important;
  border-bottom: 3px solid #B27B49 !important;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F2F0E6;
  border-top: 3px solid #F0F8FF;
  text-align: center;
}

.imgSize1 {
  border-radius: .5em;
  height: 100%;
  width: 100%;
}

.paraBox {
  margin: auto;
  margin-bottom: 2em;
  padding: .75em;
  background: #F2F0E6;
  width: 80%;
  border: 3px solid #F0F8FF;
  border-radius: 1.5em;
}

.paragraph {
  padding: .25em;
  text-indent: 12px;
  font-family: "Open Sans", sans-serif;
}

.paragraph::first-letter {
  font-size: 1.5em;
  color: #516341;
}

.squareImg {
  float: right;
  margin: .6em;
  height: 235px;
  width: 300px;
  border: 3px solid #B27B49;
  border-radius: 1em;
  background: #F0F8FF;
  box-shadow: 2px 2px 7px #B27B49;
}

.test {
  border: 4px dashed #516341;
}

#nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

#title {
  margin: 2.5em auto 1em;
  width: 65%;
  background: #FF8EAD;
  border: 3px solid #F0F8FF;
  border-radius: .66em;
}
