@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
body {
  margin: 0;
  padding: auto;
  background: url("https://www.dropbox.com/s/bxrx0k0zbmqfr5l/basil-herbs-green-mediterranean-40720.jpeg?dl=1");
  background-size: cover;
  font-size: .95em;
}

h1 {
  font-family: "Fugaz One", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 1px #fff;
}

.mainBox {
  margin: auto;
  margin-bottom: 3em;
  padding: .75em;
  background: #EAFEFE;
  height: 100%;
  width: 80%;
  border: 2px solid rgba(125, 175, 185, 0.95);
  border-radius: 1em;
}

.title {
  margin: auto;
  margin: .5em auto;
  background: #DAEAFE;
  width: 45%;
  border: 1px solid rgba(125, 175, 185, 0.95);
  border-radius: 3em 1em 3em;
}

.square {
  margin: .5em;
  height: 235px;
  width: 300px;
  border: 2px solid rgba(125, 175, 185, 0.95);
  border-radius: 1em;
  background: #EAFEFE;
  float: left;
  box-shadow: 2px 2px 2px rgba(125, 175, 185, 0.95);
}

.vertical {
  height: 250px !important;
}

.imgSize1 {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.paragraph {
  padding: .25em;
  text-indent: 12px;
  font-family: "Open Sans", sans-serif;
}

.paragraph::first-letter {
  font-size: 150%;
  color: blue;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #EAFEFE;
  text-align: center;
}
