@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
$border1: rgba(125, 175, 185, .95);
$bg1: #DCFACA;
$bg2: #9AD09E;
$navBlue: #ACD1AF;
$osans-font: "Open Sans", sans-serif;
$fugaz-font: "Fugaz One", sans-serif;

body {
  margin: 0;
  padding: auto;
  background: url("https://www.dropbox.com/s/tbm1hrjqft1oi4m/Vertical%20Green%20Leafs%20Htc%20One%20M8%20wallpaper.jpg?dl=1");
  background-size: cover;
  font-size: .95em;
}

a:hover:not(.active) {
  background-color: $bg1;
  text-transform: lowercase;
}

canvas {
  margin: auto;
  padding: 0;
  background: #FFF;
  overflow: hidden;
}

h1 {
  font-family: $fugaz-font;
  text-align: center;
  text-shadow: 2px 3px 1px $bg1;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-family: $fugaz-font;
  background-color: $navBlue;
}

.active {
  background-color: $bg1;
  font-size: 1em;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $navBlue;
  text-align: center;
}

.imgSize1 {
  border-radius: .5em;
  height: 100%;
  width: 100%;
}

.mainBox {
  margin: auto;
  margin-bottom: 2em;
  padding: .75em;
  background: $bg1;
  width: 80%;
  border: 2px solid $border1;
  border-radius: 1.5em;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

.paragraph {
  padding: .25em;
  text-indent: 12px;
  font-family: $osans-font;
}

.paragraph::first-letter {
  font-size: 1.5em;
  color: $navBlue;
}

.title {
  margin: 2em auto 1em;
  width: 55%;
  background: $bg2;
  border-radius: 3em 1em 3em;
}

.square {
  float: left;
  margin: .5em;
  height: 235px;
  width: 300px;
  border: 2px solid $border1;
  border-radius: 1em;
  background: $bg1;
  box-shadow: 1px 2px 2px $border1;
}