@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);

$border1: rgba(125, 175, 185, .95);
$bg1 : #EAFEFE;
$bg2 : #DAEAFE;
$bg3 : #63A393;
$osans-font: "Open Sans", sans-serif;
$fugaz-font: "Fugaz One", sans-serif;

canvas {
  margin: auto;
  padding: 0;
  background: #FFF;
  overflow: hidden;
}

body {
  margin: 0;
  padding: auto;
  
  background: url("https://www.dropbox.com/s/ktim356chh2xb8m/aJlw32J.jpg?dl=1");
  background-size: cover;
  font-size: .95em;
}

h1 {
  font-family: $fugaz-font;
  text-align: center;
  text-shadow: 2px 2px 1px #fff;
}

.mainBox {
  margin: auto;
  margin-bottom: 3em;
  padding: .75em;
  background: $bg1;
  height: 100%;
  width: 80%;
  border: 2px solid $border1;
  border-radius: 1em;
}

.halo {
  -moz-box-shadow: 0 0 10px 5px $bg1;
  -webkit-box-shadow: 0 0 10px 5px $bg1;
  box-shadow: 0 0 10px 5px $bg1;
}

.title {
  margin: 2em auto;
  background: $bg2;
  width: 55%;
  border: 1px solid $border1;
  border-radius: 3em 1em 3em;
}

.square {
  margin: .5em;
  height: 235px;
  width: 300px;
  border: 2px solid $border1;
  border-radius: 1em;
  background: $bg1;
  float: left;
  box-shadow: 2px 2px 2px $border1;
}

.squareL {
  box-shadow: 5px 5px 25px $bg2;
}

.imgSize1 {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.paragraph {
  padding: .25em;
  text-indent: 12px;
  font-family: $osans-font;
}

.paragraph::first-letter {
  font-size: 1.5em;
  color: blue;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $bg2;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $bg3;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: $bg2;
}

.active {
  background-color: $bg1;
}