@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);

$border1: rgba(120, 175, 185, .85);
$border2: rgba(220, 185, 155, .75);
$bg1 : #acbcdc;
$osans-font: "Open Sans", sans-serif;
$fugaz-font: "Fugaz One", sans-serif;

body {
  margin: 0;
  padding: auto;
  
  background: #FEFEFE;
}

h1 {
  font-family: $fugaz-font;
  text-align: center;
}

p::first-letter {
  font-size: 200%;
  color: blue;
}

.mainBox {
  margin: 1em;
  padding: .25em;
  background: rgba(235, 225, 235, .45);
  height: 16em;
  border: 2px solid $border2;
  border-radius: 1em;
}

.square {
  margin: 1em;
  height: 60%;
  width: 300px;
  border: 2px solid $border1;
  border-radius: 1em;
  background: $bg1;
  float: left;
}

.imgSize1 {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.paraG {
  font-family: $osans-font;
}