/* Styles go here */

body {
    font-size: .75em;
    background: white;
}

h3 {
    padding: .25em;
    background: #F2F0E6;
    border: 2px solid black;
    border-radius: .5em;
}

.fRight {
    float:right;
}

img {
    border-radius: 1em;
    border: 2px solid black;
}

.box {
    margin: auto;
    padding: 1em;
}

.userX {
    margin: auto;
    padding: .25em;
    font-size: 1em;
    border-radius: 1em;
}