@import 'https://fonts.googleapis.com/css?family=Lobster|Open+Sans';

body {
    font-size: .72em;
    background: white;
}

h4 {
    font-size: 1.1em;
}

.bg {
    font-style: oblique;
    padding-left: 1.5em;
    background: #F2F0E6;
    border: 2px solid #FDFEFD;
    border-radius: 1.25em;
}

.font-oSans {
    font-family: "Open Sans", sans-serif;
}

.userX .fRight {
    font-family: "Lobster", sans-serif;
}

.fRight {
    float:right;
    margin-right: 10px;
}

.divCenter {
    text-align: left;
    padding: 2em;
}

.centered {
    display: inline-block;
}

.box {
    display: inline-block;
    width: 92%;
    margin: auto;
}

img {
    border-radius: 1em;
    border: 3px solid #FDFEFD;
}

.userX {
    background: #F5F5E6;
    margin-top: 10px;
    padding: .5em;
    font-size: 1em;
    border-radius: 1em;
}