h2 {
    text-align: center;
}

#button-frame {
    float: left;
    margin-top: 70px;
    text-align: center;
    width: 20%;
}

#numbers-frame .number, #answer-frame .well span {
    background-color: #bbbbbb;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    margin: 0.5em;
    width: 30px;
    text-align: center;
}

#numbers-frame .selected-true {
    background-color: #e8e8e8;
    color: #ddd;
    cursor: not-allowed;
}

#numbers-frame .used-true {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}

#stars-frame .glyphicon {
    font-size: 1.75em;
    margin: 0.3em;
}

#stars-frame, #answer-frame {
    float: left;
    width: 40%;
}

#stars-frame .well, #answer-frame .well {
    height: 200px;
}