@import url('https://fonts.googleapis.com/css?family=Lobster');

h2 {
    text-align: center;
}

.lobster {
    font-family: 'Lobster', cursive;
}

#button-frame {
    float: left;
    margin-top: 50px;
    text-align: center;
    width: 20%;
}

#numbers-frame .number, #answer-frame .well span {
    background-color: #bbc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0.5em;
    width: 30px;
    text-align: center;
}

#numbers-frame .selected-true {
    background-color: #e8e8e8;
    color: #ddd;
    cursor: not-allowed;
}

#numbers-frame .used-true {
    background-color: #ada;
    color: #ab9;
    cursor: not-allowed;
}

#stars-frame, #answer-frame {
    float: left;
    width: 40%;
}

#stars-frame .glyphicon {
    font-size: 1.6em;
    margin: 0.3em;
}

#stars-frame .well, #answer-frame .well {
    height: 210px;
}